# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Environment
.env
*.env

# Logs
logs/
airflow_logs/
**/logs/

# Secrets
secrets/
*.json
*.key

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# Docker
*.pid
*.tar
docker-compose.override.yml

# Spark
spark-warehouse/
derby.log
metastore_db/

# dbt (if any future use)
dbt_packages/
target/

# VSCode
.vscode/

# MacOS
.DS_Store